---
import Layout from "../../layouts/Layout.astro";
import SectionContainer from "../../components/SectionContainer.astro";
---

<Layout
	title="Contacto | Aimar Bustamante - Desarrollador Web Frontend con 2 años de experiencia"
	description="Ponte en contacto con Aimar, desarrollador frontend. Ya seas un reclutador o un cliente potencial, utiliza el formulario para enviarme un correo."
>
	<main>
		<SectionContainer class="py-40">
			<h2 class="text-4xl font-semibold mb-6">Contact</h2>

			<form class="w-full mx-auto" id="contactForm" novalidate>
				<!-- Nombre -->
				<div class="mb-5">
					<label
						for="name"
						class="block mb-2 text-sm font-medium text-white"
						>Tu nombre</label
					>
					<input
						type="text"
						id="name"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Ej: Jhon Doe"
						required
					/>
					<p
						id="name-error"
						class="hidden mt-2 text-sm text-red-500"
					>
						<span class="font-medium">Oops!</span> Por favor ingresa
						tu nombre.
					</p>
					<p
						id="name-success"
						class="hidden mt-2 text-sm text-green-500"
					>
						<span class="font-medium">Genial!</span> Nombre válido.
					</p>
				</div>

				<!-- Correo -->
				<div class="mb-5">
					<label
						for="email"
						class="block mb-2 text-sm font-medium text-white"
						>Tu correo</label
					>
					<input
						type="email"
						id="email"
						aria-describedby="helper-text-explanation"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 focus:border-blue-500"
						placeholder="Ej: jhondoe@e-mail.com"
						required
					/>
					<p
						id="email-error"
						class="hidden mt-2 text-sm text-red-500"
					>
						<span class="font-medium">Oops!</span> Por favor ingresa
						un correo válido.
					</p>
					<p
						id="email-success"
						class="hidden mt-2 text-sm text-green-500"
					>
						<span class="font-medium">Genial!</span> Correo válido.
					</p>
				</div>

				<!-- Mensaje -->
				<div class="mb-5">
					<label
						for="message"
						class="block mb-2 text-sm font-medium text-white"
						>Tu mensaje</label
					>
					<textarea
						id="message"
						rows="4"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Ej: Hola Mundo :)"
						required></textarea>
					<p
						id="message-error"
						class="hidden mt-2 text-sm text-red-600 dark:text-red-500"
					>
						<span class="font-medium">Oops!</span> Por favor ingresa
						tu mensaje.
					</p>
					<p
						id="message-success"
						class="hidden mt-2 text-sm text-green-600 dark:text-green-500"
					>
						<span class="font-medium">Genial!</span> Mensaje válido.
					</p>
				</div>

				<!-- Botón de envío -->
				<button
					type="submit"
					class="mt-4 w-32 bg-blue-600 text-white text-sm font-medium py-2.5 rounded-lg focus:ring-4 focus:ring-blue-500 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-700"
					>Enviar</button
				>
			</form>

			<script>
				document.addEventListener("DOMContentLoaded", () => {
					const contactForm = document.getElementById(
						"contactForm"
					) as HTMLFormElement | null;
					if (contactForm) {
						contactForm.addEventListener(
							"submit",
							function (event) {
								event.preventDefault();

								const name = document.getElementById(
									"name"
								) as HTMLInputElement;
								const email = document.getElementById(
									"email"
								) as HTMLInputElement;
								const message = document.getElementById(
									"message"
								) as HTMLTextAreaElement;

								let hasError = false;

								// Clear previous errors and successes
								document
									.querySelectorAll(
										".text-red-600, .text-green-600"
									)
									.forEach((el) =>
										el.classList.add("hidden")
									);
								document
									.querySelectorAll("input, textarea")
									.forEach((el) =>
										el.classList.remove(
											"border-red-500",
											"bg-red-50",
											"border-green-500",
											"bg-green-50"
										)
									);

								// Validate Name
								if (!name.value.trim()) {
									document
										.getElementById("name-error")
										?.classList.remove("hidden");
									name.classList.add(
										"border-red-500",
										"bg-red-50"
									);
									hasError = true;
								} else {
									document
										.getElementById("name-success")
										?.classList.remove("hidden");
									name.classList.add(
										"border-green-500",
										"bg-green-50"
									);
								}

								// Validate Email
								const emailPattern =
									/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
								if (
									!email.value.trim() ||
									!emailPattern.test(email.value)
								) {
									document
										.getElementById("email-error")
										?.classList.remove("hidden");
									email.classList.add(
										"border-red-500",
										"bg-red-50"
									);
									hasError = true;
								} else {
									document
										.getElementById("email-success")
										?.classList.remove("hidden");
									email.classList.add(
										"border-green-500",
										"bg-green-50"
									);
								}

								// Validate Message
								if (!message.value.trim()) {
									document
										.getElementById("message-error")
										?.classList.remove("hidden");
									message.classList.add(
										"border-red-500",
										"bg-red-50"
									);
									hasError = true;
								} else {
									document
										.getElementById("message-success")
										?.classList.remove("hidden");
									message.classList.add(
										"border-green-500",
										"bg-green-50"
									);
								}

								if (!hasError) {
									alert("Formulario enviado correctamente");
									contactForm.reset();
									document
										.querySelectorAll("input, textarea")
										.forEach((el) =>
											el.classList.remove(
												"border-green-500",
												"bg-green-50"
											)
										);
								}
							}
						);
					}
				});
			</script>
		</SectionContainer>
	</main>
</Layout>
