---
const personalImageAlt = "Aimar Bustamante";

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<article
	class="mb-8 flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
	<div
		class="[&>p]:mb-4 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
	>
		<p>
			{i18n.AboutMe["1st-paragraph"]}
		</p>
		<p>
			{i18n.AboutMe["2nd-paragraph"]}
		</p>
		<p>
			{i18n.AboutMe["3rd-paragraph"]}
		</p>
	</div>

	<img
		width="200"
		height="200"
		src="/images/me.webp"
		alt=`Foto de ${personalImageAlt}`
		class="order-1 object-cover w-64 h-96 p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
		style="object-position: 50% 50%"
	/>
</article>
