---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout
	title={i18n.Contact["page-title"]}
	description={i18n.Contact["page-description"]}
>
	<main>
		<SectionContainer class="py-40">
			<h2 class="text-4xl font-semibold mb-6">{i18n.Contact.title}</h2>

			<form class="w-full mx-auto" id="contactForm" novalidate>
				<!-- Nombre -->
				<div class="mb-5">
					<label
						for="name"
						class="block mb-2 text-sm font-medium text-white"
						>{i18n.Contact["name-label"]}</label
					>
					<input
						type="text"
						id="name"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder={i18n.Contact["name-placeholder"]}
						required
					/>
					<p id="name-error" class="hidden mt-2 text-sm text-red-500">
						<span class="font-medium">Oops!</span>
						{i18n.Contact["name-error"]}.
					</p>
					<p
						id="name-success"
						class="hidden mt-2 text-sm text-green-500"
					>
						{i18n.Contact["name-success"]}
					</p>
				</div>

				<!-- Correo -->
				<div class="mb-5">
					<label
						for="email"
						class="block mb-2 text-sm font-medium text-white"
						>{i18n.Contact["email-label"]}</label
					>
					<input
						type="email"
						id="email"
						aria-describedby="helper-text-explanation"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder={i18n.Contact["email-placeholder"]}
						required
					/>
					<p
						id="email-error"
						class="hidden mt-2 text-sm text-red-500"
					>
						<span class="font-medium">Oops!</span>
						{i18n.Contact["email-error"]}.
					</p>
					<p
						id="email-success"
						class="hidden mt-2 text-sm text-green-500"
					>
						{i18n.Contact["email-success"]}
					</p>
				</div>

				<!-- Mensaje -->
				<div class="mb-5">
					<label
						for="message"
						class="block mb-2 text-sm font-medium text-white"
						>{i18n.Contact["message-label"]}</label
					>
					<textarea
						id="message"
						rows="4"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder={i18n.Contact["message-placeholder"]}
						required></textarea>
					<p
						id="message-error"
						class="hidden mt-2 text-sm text-red-600 dark:text-red-500"
					>
						<span class="font-medium">Oops!</span>
						{i18n.Contact["message-error"]}.
					</p>
					<p
						id="message-success"
						class="hidden mt-2 text-sm text-green-600 dark:text-green-500"
					>
						{i18n.Contact["message-success"]}
					</p>
				</div>

				<!-- Botón de envío -->
				<button
					type="submit"
					class="mt-4 w-32 bg-blue-600 text-white text-sm font-medium py-2.5 rounded-lg focus:ring-4 focus:ring-blue-500 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-700"
					>{i18n.Contact["submitt-button"]}</button
				>
			</form>

			<script is:inline type="module">
				import { getI18N } from "../i18n";
				const { currentLocale } = Astro;
				const i18n = getI18N({ currentLocale });

				document.addEventListener("DOMContentLoaded", () => {
					const contactForm = document.getElementById("contactForm");
					const name = document.getElementById("name");
					const email = document.getElementById("email");
					const message = document.getElementById("message");

					const validateName = () => {
						if (!name.value.trim()) {
							document
								.getElementById("name-error")
								?.classList.remove("hidden");
							document
								.getElementById("name-success")
								?.classList.add("hidden");
							name.classList.add("border-red-500", "bg-red-50");
							name.classList.remove(
								"border-green-500",
								"bg-green-50"
							);
						} else {
							document
								.getElementById("name-error")
								?.classList.add("hidden");
							document
								.getElementById("name-success")
								?.classList.remove("hidden");
							name.classList.add(
								"border-green-500",
								"bg-green-50"
							);
							name.classList.remove(
								"border-red-500",
								"bg-red-50"
							);
						}
					};

					const validateEmail = () => {
						const emailPattern =
							/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
						if (
							!email.value.trim() ||
							!emailPattern.test(email.value)
						) {
							document
								.getElementById("email-error")
								?.classList.remove("hidden");
							document
								.getElementById("email-success")
								?.classList.add("hidden");
							email.classList.add("border-red-500", "bg-red-50");
							email.classList.remove(
								"border-green-500",
								"bg-green-50"
							);
						} else {
							document
								.getElementById("email-error")
								?.classList.add("hidden");
							document
								.getElementById("email-success")
								?.classList.remove("hidden");
							email.classList.add(
								"border-green-500",
								"bg-green-50"
							);
							email.classList.remove(
								"border-red-500",
								"bg-red-50"
							);
						}
					};

					const validateMessage = () => {
						if (!message.value.trim()) {
							document
								.getElementById("message-error")
								?.classList.remove("hidden");
							document
								.getElementById("message-success")
								?.classList.add("hidden");
							message.classList.add(
								"border-red-500",
								"bg-red-50"
							);
							message.classList.remove(
								"border-green-500",
								"bg-green-50"
							);
						} else {
							document
								.getElementById("message-error")
								?.classList.add("hidden");
							document
								.getElementById("message-success")
								?.classList.remove("hidden");
							message.classList.add(
								"border-green-500",
								"bg-green-50"
							);
							message.classList.remove(
								"border-red-500",
								"bg-red-50"
							);
						}
					};

					name.addEventListener("input", validateName);
					email.addEventListener("input", validateEmail);
					message.addEventListener("input", validateMessage);

					if (contactForm) {
						contactForm.addEventListener(
							"submit",
							function (event) {
								event.preventDefault();

								let hasError = false;

								// Clear previous errors and successes
								document
									.querySelectorAll(
										".text-red-600, .text-green-600"
									)
									.forEach((el) =>
										el.classList.add("hidden")
									);
								document
									.querySelectorAll("input, textarea")
									.forEach((el) =>
										el.classList.remove(
											"border-red-500",
											"bg-red-50",
											"border-green-500",
											"bg-green-50"
										)
									);

								// Validate Name
								validateName();
								if (!name.value.trim()) {
									hasError = true;
								}

								// Validate Email
								validateEmail();
								if (
									!email.value.trim() ||
									!emailPattern.test(email.value)
								) {
									hasError = true;
								}

								// Validate Message
								validateMessage();
								if (!message.value.trim()) {
									hasError = true;
								}

								if (!hasError) {
									alert(i18n.Contact["form-success"]);
									contactForm.reset();
									document
										.querySelectorAll("input, textarea")
										.forEach((el) =>
											el.classList.remove(
												"border-green-500",
												"bg-green-50"
											)
										);
								}
							}
						);
					}
				});
			</script>
		</SectionContainer>
	</main>
</Layout>
