---
import { navItems } from "../data/navItems";
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

// Tipado explícito para las traducciones
interface I18N {
	NavBar: Record<string, string>;
}

const i18nTyped = i18n as I18N;
const isSpanish = currentLocale === "es";
---

<header
	class="fixed top-6 z-10 flex items-center justify-center w-full mx-auto"
>
	<nav
		class="flex px-1 md:px-4 text-sm md:text-base flex-wrap font-medium rounded-full text-gray-200 justify-center items-center"
	>
		{
			navItems.map((link) => (
				<a
					class="relative block p-3 transition hover:text-yellow-400"
					aria-label={link.label}
					href={isSpanish ? link.url : `/en${link.url}`}
				>
					{i18nTyped.NavBar[link.label]}
				</a>
			))
		}
	</nav>
</header>

<script>
	document.addEventListener("astro:page-load", () => {
		const sections = document.querySelectorAll("section");
		const navItems = document.querySelectorAll("header nav a");

		const callback = (entries: IntersectionObserverEntry[]) => {
			entries.forEach((entry: IntersectionObserverEntry) => {
				if (entry.isIntersecting) {
					navItems.forEach((item) => {
						if (
							item.getAttribute("aria-label") === entry.target.id
						) {
							item.classList.add("text-yellow-500");
						} else {
							item.classList.remove("text-yellow-500");
						}
					});
				}
			});
		};

		const observer = new IntersectionObserver(callback, {
			root: null,
			rootMargin: "0px",
			threshold: 0.3,
		});

		sections.forEach((section) => {
			observer.observe(section);
		});

		// Cleanup function
		document.onvisibilitychange = () => {
			if (document.visibilityState === "hidden") {
				observer.disconnect();
			} else {
				sections.forEach((section) => {
					observer.observe(section);
				});
			}
		};
	});
</script>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes nav-shadown {
		to {
			@apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
		}
	}
</style>
