---
import "@fontsource-variable/onest";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
	showNavbar?: boolean;
	showFooter?: boolean;
}

const {
	title,
	description,
	showNavbar = true,
	showFooter = true,
} = Astro.props;

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<!doctype html>
<html lang={i18n.Layout.title}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={i18n.Layout.description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="author" content="Aimar Bustamante" />
		<meta name="copyright" content="Todos los derechos reservados" />
		<meta name="robots" content="index, follow" />
		<!-- Open Graphk -->
		<meta
			property="og:title"
			content="Aimar Bustamante - Desarrollador Web Frontend con 2 a침os de experiencia"
		/>
		<meta
			property="og:description"
			content="Bienvenido a mi portafolio. Soy Aimar, un desarrollador frontend con 2 a침os de experiencia creando soluciones web innovadoras y funcionales. Desde Panam치 游왫릖, me especializo en HTML, CSS, JavaScript y las 칰ltimas tecnolog칤as de desarrollo web. Explora mis proyectos y descubre c칩mo puedo ayudarte a llevar tu negocio al siguiente nivel."
		/>
		<meta
			property="og:image"
			content="https://github.com/AimarBustamante/aimarbusta.dev-portfolio-2.0/raw/main/public/images/projects/aimarbusta.dev-mockup-2.0.webp"
		/>
		<meta property="og:url" content="URL de tu portafolio" />
		<meta property="og:type" content="website" />
		<!-- Twitter -->

		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Aimar Bustamante - Desarrollador Web Frontend con 2 a침os de experiencia"
		/>
		<meta
			name="twitter:description"
			content="Bienvenido a mi portafolio. Soy Aimar, un desarrollador frontend con 2 a침os de experiencia creando soluciones web innovadoras y funcionales. Desde Panam치 游왫릖, me especializo en HTML, CSS, JavaScript y las 칰ltimas tecnolog칤as de desarrollo web. Explora mis proyectos y descubre c칩mo puedo ayudarte a llevar tu negocio al siguiente nivel."
		/>
		<meta
			name="twitter:image"
			content="https://github.com/AimarBustamante/aimarbusta.dev-portfolio-2.0/raw/main/public/images/projects/aimarbusta.dev-mockup-2.0.webp"
		/>
		<!-- FAVICON -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon_io/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon_io/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon_io/favicon-16x16.png"
		/>
		<link rel="manifest" href="/favicon_io/site.webmanifest" />
	</head>
	<body>
		{showNavbar && <NavBar />}
		<slot />
		{showFooter && <Footer />}
	</body>
</html>
<style is:global>
	/* :root {
		color-scheme: light dark;
	} */
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background-image: linear-gradient(60deg, #0c1227 20%, #0b193c 80%);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
